{% extends 'base.html' %}

{% block body_content %}
    <div class="jumbotron">
        <h1 class="display-4">500 Error</h1>
        <p class="lead">Daxil olmaq istediyiniz seife tapilmadi.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'welcome' %}" role="button">Ana seifeye qayidin</a>
        </p>
    </div>
{% endblock %}