<div class="jumbotron">
    <h2 class="display-4">Xoş gəldin</h2>
    <p style="font-family: g-muli, sans-serif">Dostlarına gizli mesajlar yazaraq və ya onlardan mesajlar alaraq dəyərli vaxtınızı bizimlə heç edə bilərsiz.</p>
    <hr class="my-4">
    <div class="row justify-content-center m-5">
        <div class="list-group col-lg-8 col-sm-10">
            {% for username in username_list %}
                <a href="{% url 'userprofile' username %}"
                   class="list-group-item list-group-item-action">{{ username }}</a>
            {% endfor %}
        </div>
    </div>
    {% if request.user.username %}
    <a class="btn-my-custom" id="btn-login" href="{% url 'logout' %}" role="button">Hesabdan cix</a>
    {% else %}
    <a class="btn-my-custom" id="btn-login" href="{% url 'login' %}" role="button">Daxil ol</a>
    <a class="btn-my-custom" id="btn-register" href="{% url 'register' %}" role="button">Qeydiyyatdan
        kec</a>
    {% endif %}
</div>